.App {
  padding: 5px;
}

.annotated-text {
  line-height: 1.5;
  background: #eee;
  border: 1px solid black;
  position: relative;
  padding: 5px;
  white-space: pre-line;
  overflow: hidden;
}

span.curAnnoText {
    background: yellowgreen;
}


.tools button.cur {
  background: black;
  color: white;
}

.TextBlocks {
  display: flex;
  flex-flow: row wrap;
}

.TextBlock {
  display: flex;
  flex-flow: row nowrap;
  width: 400px;
  padding: 10px;
}
