.App {
  padding: 5px;
}

.pair {
  display: flex;
  flex-flow: row nowrap;
}

.pair > div {
  width: 250px;
}

.LikertItem ul {
  display: flex;
  align-content: space-between;
}

.LikertItem li {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding: 10px;
}

.LikertItem li input {
  display: block;
  margin: 0 auto;
}